@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
.homePage {
  background: url("https://cdn.wallpapersafari.com/8/10/5vHeDY.jpg");
  height: 20vh;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  height: 100%;
  width: 100%;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.linkedButton {
  height: 4rem;
  width: 12rem;
  border-radius: 1rem;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: transparent;
  font-size: 1rem;
  color: #2d2b2b;
  font-family: "Permanent Marker", cursive;
  border: solid;
}

.linkedButton:hover {
  color: #ccc1c1;
  cursor: pointer;
}

.title {
  color: #2d2b2b;
  text-underline-position: under;
  outline: none;
  font-size: 3.5rem;
  margin-top: 10rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  text-shadow: #ccc1c1 1px 1px 3px;
  font-family: "Permanent Marker", cursive;
}

.icon {
  height: 2rem;
  width: 2rem;
  margin-top: 8rem;
  padding-left: 0.25rem;
}

.icon:hover {
  cursor: pointer;
}

.iconContainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
