.projectWrapper {
  background-color: lightgray;
  height: 100vh;
}

.project {
  list-style: none;
  display: inline-flex;
  padding: 8rem;
  background-color: #2d2b2b;
  margin: 2rem;
  color: #ccc1c1;
  outline: none;
}

.atag {
  color: #ccc1c1;
}
