.react-tabs {
  -webkit-tap-highlight-color: transparent;
  width: 80%;
}

.react-tabs__tab-list {
  margin: 0 0;
  padding: 0;
  display: flex;
  padding-left: 1rem;
  height: 2.5rem;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fffafa;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
  border-bottom: solid;
  border-bottom-color: #aaa;
  border-bottom-width: 0.1rem;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  /* box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%); */
  outline: none;
  border-bottom: solid;
  border-bottom-color: #aaa;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  height: 25rem;
  background-color: #fffaf0;
  padding-top: 1rem;
  border-color: #aaa;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-areas: " left right ";
  grid-template-columns: 65% 35%;
}

.grid > .content {
  grid-area: left;
}

.grid > .pictures {
  grid-area: right;
}

.paragraphContent {
  text-align: justify;
  margin-top: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.7rem;
}

.tabContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

img {
  width: 80%;
  border-radius: 5px;
}

.pictures {
  margin: auto;
}

.farragut {
  border-radius: 100%;
  width: 70%;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

workPictures {
  display: flex;
  flex-direction: column;
}
